// Video background on the site //

// video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 98%;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -o-object-position: center;
//   object-position: center;
//   z-index:-1;
// }

// .overlay {
//   min-height: 90vh;
//   display: flex;
//   align-items:center;
//   justify-content: center;
//   z-index:-1;
// }

// .overlay h1 {
//   // background: #000 none repeat scroll 0 0;
//   color: tan;
//   font-weight: 600;
//   margin: 2rem 3rem 0;
//   mix-blend-mode: overlay;
//   padding: 5px 15px;
//   text-align: center;
// }

// .overlay h2 {
//   // background: #000 none repeat scroll 0 0;
//   color: tan;
//   font-weight: 600;
//   margin: 2rem 3rem 0;
//   mix-blend-mode: overlay;
//   padding: 5px 15px;
//   text-align: center;
// }

// Two innovatie technology models at the bottom of the page //

.innovative-models {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding:10px;
  margin-top: 25px;
}

.innovative-models:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
}

// Innovative Models Cards //

.space-around {
  display: flex;
  justify-content: space-around;
}

.center-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.innovative-models-cards {
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  // background: transparentize(blue,0.5)
  padding-top: 15px;
  padding-bottom: 15px;

}

.innovative-models-image {
    width: 100%;
    // height: 275px;
    position: relative;
    // background-image: url('https://d13yacurqjgara.cloudfront.net/users/150724/screenshots/2211976/365_the_end_1x.png');
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
