//First banner content
.banner {
  color: white;
  text-align: center;
  height: calc(90vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

// All Banners standard parallax settings //
.parallax1, .parallax2, .parallax3, .parallax4 {
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("https://images.unsplash.com/photo-1507774248527-378e90e918b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5447d2fe867149ad8bc53b05e78d9e17&auto=format&fit=crop&w=1050&q=80");

}

.parallax2 {
  background-image: url("https://images.unsplash.com/photo-1516826049371-1e7856387270?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e404797878502e4f08bfa4dc8882ad80&auto=format&fit=crop&w=1050&q=80");
}

.parallax3 {
  background-image: url("");
}

.parallax4 {
  background-image: url("");
}

// Background for Who are you? //

.white-bg {
  background-color: #FFFAFA;
}

// .grey-bg {
//   background-color:
// }

// Buttons for Pharmacy and Carehome //

.pad {
  padding: 20px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.black-button {
  color: grey;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: #F4F4F4;
  padding: 4px 30px;
  &:hover {
    // color: #009688;
    color: white;
    background-color: grey;
    border: 2px solid grey;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
  }
}

.white-button {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
  &:hover {
    color: white;
    background-color: black;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
  }
}

//Section 2 of Homepage Contents
.icon-block {
  padding: 0 15px;
}

// Custom Fontawsome Glyphicons Color

.brown-text {
  color: #795548
}

//Custom hr break Line

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

// Banner fix for iPad - iPad Pro Display when in portrait or landscape mode //
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  .banner, .parallax1, .parallax2, .parallax3, .parallax4{
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
  .banner, .parallax1, .parallax2, .parallax3, .parallax4 {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Banner Context fixed for desktop screen sizes portrait and landscape

@media only screen and (min-device-width: 1366px) and (orientation: landscape) {
  .banner, .parallax1, .parallax2, .parallax3, .parallax4 {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-device-width: 1366px) and (orientation: portrait) {
  .banner, .parallax1, .parallax2, .parallax3, .parallax4 {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Disable parallax for all devices lower than an iPad screen portrait

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: none;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
 .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: none;
    }
}



