// Banner Image //

// .banner-img {
//   opacity: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
// }

// General CSS for Pharmacy Page //

.background-color {
  background-color: #FAFAFA;
  padding: 30px 0;
}

.pad-top {
  padding-top: 22.5px;
}
.pad-bot {
  padding-bottom: 50px;
}

// Graph //

.graph {
  padding: 18px 0px;
}

.graph img {
  width: 100%;
  max-width: 1363px;
}

// Static Cards //

.card {
  background-color: white;
  box-shadow: 0px 5px 20px #555;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card:hover .card-image img {
  width: 110%;
  filter: grayscale(0);

}
.card-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width;
  transition-duration: .3s;
  // opacity: 0.8;
}


// Hover Effects //

.card-description {
  position: absolute;
  bottom: 10%;
  // left: 23%;
  visibility: hidden;
  opacity: 0;
  background: rgba(168,168,168,0.72);
  padding: 10px;
  border-radius: 5px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card:hover .card-description {
  visibility: visible;
  opacity: 1;
}

// Parallax Image //

.pharm-parallax {
    /* The image used */
    // background-image: url("https://images.unsplash.com/photo-1511963518840-2d9596392cb8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b56ab51f878fa7314e09b3730fd6b23&auto=format&fit=crop&w=1000&q=80");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Disable Parallax Effect for all mobile devices in portrait or landscape views //

@media only screen and (min-device-width: 320px) and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 .pharm-parallax {
        background-attachment: scroll;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
 .pharm-parallax {
        background-attachment: scroll;
  }
}


// Financial Model Div CSS //

.finance-model {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding:10px;
  margin: 15px 80px;
}

.finance-model:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
}

.style-two-color {
  color: #EDEDED;
}

// Quote Div //

.quote {
  margin: 70px 20px 40px 20px;
  color: #4C4C4C;
  p {
    font-style: italic;
  }
  p .fa {
      font-style: italic;
    }
}

// Custome Cursor //

.clickToScroll {
  // cursor: url(symbols/one.png), auto;
  cursor: pointer;
}

