<!--
<footer>
  <div class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h5> CareMeds Ltd</h5>
          <p>Unit 5 Brickfield Trading Estate <br>
             Brickfield Lane <br>
             Chandlers Ford <br>
             Eastleigh <br>
             SO53 4DR <br>
          </p>
        </div>
        <ul class="col-sm-12 col-lg-3">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </ul>
        <div class="col-sm-12 col-lg-3">

        </div>
     </div>
    </div>
  </div>

</footer>
 -->
<div class="footer">
  <div>
    <h3> CareMeds Ltd.</h3>
    <p>Unit 5 Brickfield Trading Estate <br>
        Brickfield Lane <br>
        Chandlers Ford <br>
        Eastleigh <br>
        SO53 4DR <br>
    </p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
<div class="footer-copyright">
   <p>© 2018 CareMeds Ltd  |  Registered in England. Reg. No. 00112233  |  Website design by CareMeds</p>
</div>





