<% provide(:title, 'Care Providers') %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1464146072230-91cabc968266?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81fa6e2c81cf9e4e1b7c51f18eef6eb0&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Are you looking to reduce Medication Errors?</h1>
    <p>Caremeds has the solution...</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="container pad">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center brown-text"><strong>Medication administration errors in care and nursing homes are at unacceptable levels</strong></h4>
      <p class="text-center">There has been many studies carried out in this area over the last 4 years and all have published their findings with trends idenfying risks that need to be addressed.</p>
      <p class="text-center">Homecare providers have until now been left exposed by a lack of systems for evidencing outcomes around medicines management in the home.</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="graph">
          <%= image_tag "charts/medic-error.png" %>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-4">
      <p>Homecare providers have until now been left exposed by a lack of systems for evidencing outcomes around medicines management in the home. Not any longer.</p>
    </div> -->
  </div>
</div>

<div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">One of the areas identified where we can combat this problem is by improving the paper systems used currently and potentially by introducing electronic systems known as Electronic MARs</p>
        <p class="text-center">At CareMeds, We have taken care of both..</p>
      </div>
    </div>
  </div>
</div>

<div class="pharm-parallax" style="background-image: url(<%= image_path 'charts/mar.png'%>);opacity: 0.5;"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 pad-top pad-bot">
      <h4 class="text-center brown-text"><strong>Web Based Dispensing System</strong></h4>
      <p class="text-center">Our web based dispensing system used by pharmacies specialising in managed care services is the only system that provides <strong>ONE PATIENT RECORD</strong> accessible by all stakeholders aimed at medicines management. The pharmacist, the care provider and even the GP can access the patient dispensing data.</p>
    </div>
  </div>
</div>

<div class="background-color">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="finance-model well well-lg">
          <p class="text-center brown-text"><strong>CareMeds Charts</strong> help to reduce errors at patient bed side or home by providing a safer and easy to follow design. Features include:</p>
          <!-- <h2 class="text-center"><%#= image_tag("symbols/one.png") %></h2> -->
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Colour Photos of Residents on all Charts</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Colour Photos of medications</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Time ordered colour coded drug rounds</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Colour coded labelling & photo of Patient</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Specialist Charts for Warfarin, PRN, PRN Topical and Insulin</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="finance-model well well-lg ">
          <p class="text-center brown-text"><strong>Care Providers</strong> have the ability to log into a web portal linking them directly to the pharmacy where the following can be achieved:</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Add New or Edit  Residents Details</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Online Re-ordering of Medications</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Messaging between Pharmacy and Care provider</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Print Medication Charts</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Print Blank Charts for New Residents</p>
        </div>
      </div>
    </div>

  </div>

</div>

<!--
<div id="charts" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#charts" data-slide-to="0"></li>
    <li data-target="#charts" data-slide-to="1"></li>
    <li data-target="#charts" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%#= image_tag "charts/mar.png" %>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <%#= image_tag "charts/prn.png" %>
      <div class="carousel-caption">

      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>
