<% provide(:title, 'Care Providers') %>

<!-- <div class="container"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="pic-card"></div>
    </div>
    <!-- <div class="col-xs-12 col-sm-4">
      <div class="text-card">
        <h4>Are you looking to reduce Medication Errors?</h4>
        <p>Medication administration errors in care and nursing homes are at unacceptable levels. There has been many studies carried out in this area over the last 4 years and all have published their findings with trends idenfying risks that need to be addressed.</p>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-4">
      <div class="pic-card1"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="pic-card2"></div>
    </div>
    <!-- <div class="col-xs-12 col-sm-4">
      <p>Homecare providers have until now been left exposed by a lack of systems for evidencing outcomes around medicines management in the home. Not any longer.</p>
    </div> -->
  </div>
<!-- </div> -->
