<h1>Pages#contactus</h1>
<p>Find me in app/views/pages/contactus.html.erb</p>

<!-- - Background image as a google map
- Two seperate divs on top of it
- One div about a form of getting in touch with us
- Second form with CareMeds address on it
- Concludes the contact us page
 -->
