<% provide(:title, 'Home') %>

<nav>
  <!-- Create a navbar partial -->
</nav>

<!-- Add a parallax background and a banner image -->

<h1>CareMeds <small>Improving Medicines Management in Care</small></h1>
</br>
<div>

  <p>CareMeds is a technology company developing innovative applications that change the way pharmacy and care providers manage their patients medications</p>

  <p>
    It starts in Pharmacy with the most advanced web based dispensing system for managed care patients. Our customers are specialist pharmacy providers to the managed care sector, and the reason they use CareMeds is because they recognise that standard pharmacy systems fall short when meeting the compliance and saftey needs of this sector.
  </p>

  <p>
    There are currently over 500 care providers using CareMeds MAR charts. The charts are unparalleled in the market
  </p>

  <p>
    In addition to these unique Medication Administration Charts, we have also developed the only working eMAR solution that seemlessly links with both the Pharmacy system and the Care home system with TWO-WAY communication. We put the patient at the centre of everything we do and share access to the various stakeholders Pharmacy, Care Provider, and even the GP.
  </p>

  <p>
    CareMeds eMAR is Android based and runs on 7" and 10" tablets.
  </p>

  <p>
    Whether you are a pharmacy looking to improve your offer to the managed care sector, or a care provider looking to improve compliance and safety, please get in touch to see how we can help.
  </p>

</div>

<footer>
  <!-- Create a footer partial -->
</footer>
