<% provide(:title, 'Home') %>


<!-- Add a parallax background and a banner image -->
<div class="parallax1">
  <div class="banner">
  <div class="banner-content text-center">
    <h1>CareMeds</h1>
    <p><small>Improving Medicines Management in Care</p>
    <a class="btn btn-success btn-lg">Contact Now</a>
  </div>
  </div>
</div>

<div class="container">
  <div class="row col-xs-12">
    <h1 class="text-center"> Who are we? </h1>
    </br>
    <div class="text-justify">
      <p>CareMeds is a technology company developing innovative applications that change the way pharmacy and care providers manage their patients medications</p>

      <p>
        It starts in Pharmacy with the most advanced web based dispensing system for managed care patients. Our customers are specialist pharmacy providers to the managed care sector, and the reason they use CareMeds is because they recognise that standard pharmacy systems fall short when meeting the compliance and saftey needs of this sector.
      </p>

      <p>
        There are currently over 500 care providers using CareMeds MAR charts. The charts are unparalleled in the market
      </p>

      <p>
        In addition to these unique Medication Administration Charts, we have also developed the only working eMAR solution that seemlessly links with both the Pharmacy system and the Care home system with TWO-WAY communication. We put the patient at the centre of everything we do and share access to the various stakeholders Pharmacy, Care Provider, and even the GP.
      </p>

      <p>
        CareMeds eMAR is Android based and runs on 7" and 10" tablets.
      </p>

      <p>
        Whether you are a pharmacy looking to improve your offer to the managed care sector, or a care provider looking to improve compliance and safety, please get in touch to see how we can help.
      </p>
      </br>
    </div>
  </div>
</div>
<div class="parallax2"></div>
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="text-center brown-text"><i class="fa fa-plus-square"></i></h2>
        <h4 class="text-center">For Your Pharmacy</h4>
        <hr class="style-two">
        <h5 >Stand Out in the Crowd</h5>
        <p class="text-justify">
          In this ever increasing competitive market, pharmacy owners need every possible competitive advantage they can leverage to ensure their business propsers.
          CareMeds offers such an advantage.
          <br><br>
          <strong>CareMeds</strong> offers such an advantage.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="text-center brown-text"><span class="glyphicon glyphicon-bed"></h2>
        <h4 class="text-center">For Your Carehome</h4>
        <hr class="style-two">
        <h5 >Safe and Simple Drug Rounds</h5>
        <p class="text-justify">
          Medication rounds made easy, that’s the best way to describe CareMeds medicines management system. Dynamic MAR Charts and intuitive eMAR from your pharmacy provider.
          <br><br>
          <strong>CareMeds</strong> safe, simple and efficient
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="text-center brown-text"><span class="glyphicon glyphicon-home"></span></h2>
        <h4 class="text-center">For the Community</h4>
        <hr class="style-two">
        <h5 >Are you a Homecare provider?</h5>
        <p class="text-justify">
          Medicines administration in the community is no longer just about prompting, ensure your carers and service users are protected with a safe and secure medication management system.
          <br><br>
          <strong>CareMeds</strong> MAR Charts make it clear
        </p>
      </div>
    </div>
  </div>
</div>
