// Used to wrap both parts of the Footer into one for footer fixed position on other pages on sites //

.forced{
  right: 0;
  bottom: 0;
  left: 0;
  z-index:999;
}

// Footer CSS Code //

.footer {
  // background: #009688;
  background: #2874AE;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // height: 300px;
  // padding: 0px 50px;
  color: rgba(255,255,255,0.7);
}

.footer-content {
  display:flex;
}
@media (max-width: 576px) {
  .footer-content {
    display:flex;
    flex-wrap:wrap;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content:center;
}
@media (max-width: 500px) {
  .footer-links {
    justify-content: space-evenly;
    /* padding: 10px 0px; */
    padding-bottom:10px;
  }
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer h3, p {
  font-family: "Open Sans" !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-transform: none;
}

// Part two of Footer CSS Code //

.footer-copyright{
  // overflow: hidden;
  // min-height: 50px;
  // background-color: rgb(32, 142, 128);
  background-color: #166DB0;
  p {
    margin: 0;
    // padding: 10px 50px;
    padding: 10px 0px;
    text-align: center;
    color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

// Call this class on a div on any of the pages within the site to fix the footer to the bottom of the page //

.fixed-banner {
  min-height: 100vh;
}
