.form-bg {
  background-color: #35383c;
  opacity: 0.9;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.8) 100%), url("https://cdn.pixabay.com/photo/2015/10/10/19/57/hands-981400_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 80px 0;

}

.form-control {
    color: #fff;
    border-color: #fff;
    border-width: 2px !important;
    background-color: transparent;
    -webkit-text-fill-color: white !important;
    padding: 13px;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px grey inset;
    }

}

.form-btn {
  border: 2px solid;
  color: #fff;
  border-color: #fff;
  border-width: 2px !important;
  background-color: transparent;
  padding: 13px;
  width:100px;
  &:hover {
    background-color: #42c9c5;
    color: #ffffff;
    border-color: #20a7a3;
  }
}
